.header {
    text-align: right;
    color: rgb(224, 224, 224);
    font-size: 30px;
}

.jumbotron {
    text-align: center;
    background: rgb(46, 81, 105);
    color: rgb(230, 230, 230);
    font-weight: bolder;
}

.guessCard {
    display: none;
}

.images {
    width: 200px;
    height: auto;
}