.header {
    text-align: right;
    color: rgb(224, 224, 224);
    font-size: 30px;
}

.jumbotron {
    text-align: center;
    background: rgb(76, 100, 121);
    color: rgb(230, 230, 230);
    font-weight: bolder;
}